# Ignore data folder but allow DVC metadata
data/*
!data/*.dvc

# Ignore models folder but allow DVC metadata
models/*
!models/*.dvc

# DVC cache
.dvc/cache/

# Python artifacts
__pycache__/
*.pyc

# Jupyter checkpoints
.ipynb_checkpoints/

# OS-specific
.DS_Store
Thumbs.db

