# Ignore raw and processed data files
data/**/*.csv
data/**/*.tsv
data/**/*.parquet
data/**/*.xlsx

# But DO NOT ignore DVC metadata files
!data/**/*.dvc

# Ignore model binaries
model/*.pkl
model/*.joblib
model/*.h5

# Ignore Python cache and logs
__pycache__/
*.py[cod]
*.log

# Ignore Jupyter notebook checkpoints
.ipynb_checkpoints/

# Ignore virtual environments
venv/
.env/

# Ignore DVC cache and lock files
.cache/
.dvc/tmp/
.dvc/cache/
.dvc/config.local
.dvc.lock

# Ignore system files
.DS_Store
Thumbs.db
/metrics.json
